{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}Forgot Password{% endblock %}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}" />
</head>

<body>
    <div class="FORGOT-PASSWORD-PAGE">
        <a href="signup.html" class="sign-up">
            <span class="no-account-text">Don't have an account?</span>
            <span class="signup-text">Sign up</span></a>
        <a href="login.html" class="back-arrow"><img src="{% static 'authentication/images/vector-19.svg'%}"  alt="back-to-login"
                class="arrow-img"></a>
        <div class="div">
            <form>
                <input type="text" id="username" name="username" placeholder="Username" required>
                <input type="text" id="phoneno" name="phoneno" placeholder="Phone number" required>
                <input type="password" id="password" name="password" placeholder="New password" required>
                <p class="password-req">At least 8 characters.</p>
        </div>
        <div class="box-container">
            <input type="text" id="code" name="code" placeholder="Code" required>
            <button type="retry-btn" class="retry-btn ">Retry</button>
        </div>
        <button type="submit-login" class="submit-btn-sign-up">Log in</button>
        </form>
        <img class="sky-group-logo" src="{% static 'authentication/images/Sky_Group_logo_2020.png'%}"  />
    </div>
    </div>
</body>

</html>