{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Forgot Password</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}" />
</head>

<body>
    <div class="FORGOT-PASSWORD-PAGE">
        <a href="{% url 'signup' %}" class="sign-up">
            <span class="no-account-text">Don't have an account?</span>
            <span class="signup-text">Sign up</span>
        </a>
        <a href="{% url 'login' %}" class="back-arrow">
            <img src="{% static 'authentication/images/vector-19.svg' %}" alt="back-to-login" class="arrow-img">
        </a>

        <div class="div">
            <form method="POST">
                {% csrf_token %}
                <div class="form-field">{{ form.username }}</div>
                <div class="form-field">{{ form.phoneno }}</div>
                <div class="form-field">{{ form.new_password }}</div>
                <div class="form-field">{{ form.code }}</div>

                {% if form.errors %}
                <ul class="error-list">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

                <button type="submit" class="submit-btn-login">Reset Password</button>
            </form>
        </div>

        <img class="sky-group-logo" src="{% static 'authentication/images/Sky_Group_logo_2020.png' %}" />
    </div>

    <script src="{% static 'authentication/js/authentication.js' %}"></script>
</body>
</html>
