{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Sign Up</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'authentication/css/style.css' %}" />
</head>

<body>
    <div class="SIGN-UP-PAGE">
        <a href="{% url 'login' %}" class="sign-up">
            <span class="no-account-text">Already have an account?</span>
            <span class="signup-text">Login</span>
        </a>
        <a href="{% url 'login' %}" class="back-arrow">
            <img src="{% static 'authentication/images/vector-19.svg' %}" alt="back-to-login" class="arrow-img">
        </a>

        <div class="div">
            <form method="POST">
                {% csrf_token %}

                <div class="form-field">{{ form.first_name }}</div>
                <div class="form-field">{{ form.last_name }}</div>
                <div class="form-field">{{ form.email }}</div>
                <div class="form-field">{{ form.username }}</div>
                <div class="form-field">{{ form.password1 }}</div>
                <div class="form-field">{{ form.password2 }}</div>
                <div class="form-field">{{ form.role }}</div>

                <!-- Display any form errors -->
                {% if form.errors %}
                <ul class="error-list">
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
                {% endif %}

                <button type="submit" class="submit-btn-sign-up">Sign up</button>
            </form>
        </div>

        <img class="sky-group-logo" src="{% static 'authentication/images/Sky_Group_logo_2020.png' %}" />
    </div>

    <script type="text/javascript">
        var homeUrl = "{% url 'dashboard' %}";
    </script>
    <script src="{% static 'authentication/js/authentication.js' %}"></script>

</body>

</html>