{% extends 'base.html' %}   <!--to inherit the navigation bar from base.html-->
{% load static %}           <!--load static files to use static URL for CSS, JS, and images-->
{% load widget_tweaks %}    <!--load widget tweaks for dropdowns and modify the form fields-->

{% block title %} Team Progress - Senior Manager {% endblock %}     <!--override the title from the base.html-->

{% block extra_css %} <!--override the css file from the base.html-->
<link rel="stylesheet" href="{% static 'authentication/css/style.css' %}">  <!--link to custom css called  style.css for styling -->
{% endblock %}

{% block content %}

<div class="main-content">
    <h1>Team Progress - Senior Manager</h1>
    <p class="lorem-ipsum">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor ligula felis, a posuere ante elementum et.
        Proin sollicitudin dolor sit amet turpis facilisis, sit amet accumsan lectus tincidunt. Sed ut tortor id erat
        pretium mollis non eget ante. Cras tincidunt diam ac efficitur tincidunt. Aenean sit amet orci sed purus iaculis
        euismod nec in metus. Donec eget nibh ac magna cursus consectetur eget a tortor.
    </p>
</div>

<div class="box-container-2">   <!--container for the team progress overall and team details -->
    <form method="POST">        <!--form method POST so it wouldnt show in the URL but still received on the next page-->
        {% csrf_token %}        <!--CSRF token that is required for POST forms in django to ensure security-->
        <div class="dropdown-section">
            <div class="dropdown-field">
                {{ form.department|add_class:"dropdown" }}<!--create dropdown for the team with dropdown style from the css file-->
            </div>
            <div class="dropdown-field">
                {{ form.team|add_class:"dropdown" }}<!--create dropdown for the department with dropdown style from the css file-->
            </div>
            <div class="dropdown-field"><!--create field for the duration with style from the css file-->
                {{ form.date }}
            </div>
            <button class="submit-btn-login" type="submit">Filter</button>
        </div>
    </form>
{% comment %} 
    <div class="box box1">      <!--first box inside the box container for the team progress over time-->
        <h2>TEAM PROGRESS OVER TIME</h2>
    </div> {% endcomment %}

    <div class="box2">      <!--second box inside the box container for the team details-->
        <div>
        {% if team_summary %}
        <h2>TEAM DETAILS</h2>
            <table class="summary-table"> <!-- summary of the team -->
                <thead>
                    <tr>
                        <th>Department</th>
                        <th>Team</th>
                        <th>Question</th>
                        <th>Bad</th>
                        <th>Neutral</th>
                        <th>Good</th>
                        <th>State</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in team_summary %} <!--loops-->
                        <tr>
                            <td>{{ result.department_name }}</td>
                            <td>{{ result.team_name }}</td>
                            <td>{{ result.question }}</td>
                            <td class="{% if result.trend == 0 %}red{% endif %}">{{ result.red_count }}</td>
                            <td class="{% if result.trend == 1 %}yellow{% endif %}">{{ result.yellow_count }}</td>
                            <td class="{% if result.trend == 2 %}green{% endif %}">{{ result.green_count }}</td>
                            <td class="{{ result.trend_color|lower }}">{{ result.state|title }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No team voting data available for the selected filters.</p>
        {% endif %}
        <div>
    </div>
</div>

{% endblock %}
