body {
    margin: 0; /* remove default margin and padding */
    padding: 0;
    font-family: Arial, sans-serif;
}


.SIGN-UP-PAGE,  /*layout for the signup.html, forgotpassword.html, and login.html */
.FORGOT-PASSWORD-PAGE,
.LOG-IN-PAGE {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    box-sizing: border-box;
}


.LOG-IN-PAGE .div,  /*styling for form wrapper in the login.html, signup.html, and forgotpassword.html */
.SIGN-UP-PAGE .div,
.FORGOT-PASSWORD-PAGE .div {
    background-color: #ffffff;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.box-container {    /*layour flexbox for code input and retry button */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    gap: 5px;
    margin-top: -2%;
}

input[type="text"], /*input boxes and button styles*/
input[type="password"],
input[type="email"],
input[type="number"],
select,
textarea,
.submit-btn-sign-up,
.submit-btn-login {
    padding: 11px;
    font-size: 13px;
    border: 2px solid #C5C5C5;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    box-sizing: border-box;
}


.form-input {   /*input for form which is the same as above */
    padding: 11px;
    font-size: 13px;
    border: 2px solid #C5C5C5;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    box-sizing: border-box;
}

.form-field {   /*spacing between each forms*/
    margin-bottom: 20px;
}

input[type="text"]#code {   /*style for verification code input */
    flex-grow: 1;
    padding: 11px;
    font-size: 13px;
    border: 2px solid #C5C5C5;
    border-radius: 5px;
    margin-right: 10px;
    box-sizing: border-box;
}

.retry-btn {    /*style and placement for retry button*/
    padding: 9px;
    font-size: 13px;
    border: 2px solid #C5C5C5;
    border-radius: 5px;
    background-color: #ffffff;
    color: #C5C5C5;
    cursor: pointer;
    width: 80px;
    box-sizing: border-box;
}

.retry-btn:hover {  /*changing the color when hovering over the retry button */
    background-color: #f0f0f0;
}

.SIGN-UP-PAGE .sky-group-logo { /*sky logo styling in the signup.html*/
    position: absolute;
    width: 148px;
    height: 91px;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.FORGOT-PASSWORD-PAGE .sky-group-logo { /*sky logo styling in the forgotpassword.html*/
    position: absolute;
    width: 148px;
    height: 91px;
    top: 29.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.LOG-IN-PAGE .sky-group-logo {  /*sky logo styling in the login.html*/
    position: absolute;
    width: 148px;
    height: 91px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.SIGN-UP-PAGE .forgot-password, /*forgot password link in the signup.html and login.html*/
.LOG-IN-PAGE .forgot-password {
    font-size: 13px;
    text-decoration: underline;
    color: #C5C5C5;
}

.submit-btn-login { /*login button in the login.html*/
    background-color: #3936FF;
    color: white;
    cursor: pointer;
}

.submit-btn-sign-up { /*signup button in the signup.html*/
    padding: 12px;
    background-color: #3936FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
}

.submit-btn-sign-up:hover,
.submit-btn-login:hover {   /*changing color when hovering over the login button in the login.html and signup button in the signup.html*/
    background-color: #2a2ac0;
}

.sign-up {  /*top right signup link in the signup.html*/
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    color: #C5C5C5;
    text-decoration: none;
}

.signup-text {
    color: #3936FF;
    font-weight: bold;
}

.sign-up:hover {
    text-decoration: underline;
    color: #2a2ac0;
}

.error-list {   /*error list when inputing incorrectly*/
    color: red;
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
}

.error-list li {
    font-size: 12px;
}

.password-req { /*password hint when user fails to satisfy the requirements*/
    font-size: 12px;
    color: #C5C5C5;
    text-align: left;
    margin-top: -15px;
    margin-left: 135px;
}

.back-arrow {   /*arrow to go back to previous page on the top left corner */
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
}

.arrow-img {
    width: 20px;
    height: auto;

}

.back-arrow:hover .arrow-img { /*make opacity dim when hovering over the back arrow*/
    opacity: 0.5;
}

.dropdown-container { /*container for the dropdowns, custom styling*/
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    margin-top: -1%;
    margin-bottom: 2.5%;
}

.role-dropdown { /*dropdown for the roles*/
    padding: 11px;
    font-size: 13px;
    border: 2px solid #C5C5C5;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
    display: block;
    box-sizing: border-box;
}

.dropdown-arrow { /*an arrow in the dropdown for easy understanding*/
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    pointer-events: none;
}

.main-content { /*main content padding in the teamprogress_SM.html*/
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 20px;
    text-align: center;
}


h1 {    /*font style for h1*/
    font-size: 40px;
    color: #1d1d1d;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 300;
}


.lorem-ipsum { /*paragraph styling*/
    font-size: 18px;
    color: #555;
    line-height: 1.6;
    max-width: auto;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}


.box-container-2 { /*container for ggrouped boxes in the teamprogress_SM.html*/
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid rgba(51, 51, 51, 0.5);
    border-radius: 10px;
}

.dropdown-section { /*section where there is multiple dropdowns*/
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.dropdown-field { /*wrappers for individual dropdowns*/
    margin-bottom: 20px;
    flex-grow: 1; 
}


.dropdown { /*dropdown styling*/
    padding: 12px;
    font-size: 16px;
    border: 2px solid #C5C5C5;
    border-radius: 5px;
    width: 50%;
    background-color: #ffffff;
    box-sizing: border-box;
}

.box { /*box styling for content display*/
    padding: 35px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.box1 { /*first box in the box-container*/
    background-color: #f3f3f3;
    /* height: 350px; */
}


.box2 { /*second box in the box-container*/
    background-color: #f3f3f3;
    height: auto;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box h2 { /*styling for h2 in the box*/
    font-size: 26px;
    color: #a2a2a2;
    margin-bottom: 15px;
    text-align: center;
}

.box p {    /*paragraph styling in the box*/
    font-size: 18px;
    color: #F3F3F3;
}