{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
  <h1>Testing home page</h1>
  
  <div class="custom-home-style">
    <p>Test of app-specific CSS.</p>
    <p>
    Welcome to Team HealthCheck! Our platform helps you easily track your team’s tasks and
    provide real-time feedback. Stay informed on task progress, evaluate
    performance, and ensure continuous improvement with clear, actionable
    insights.
  </p>
  </div>
{% endblock %}