{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
  <h1>Testing home page</h1>
  <p>Home page</p>

  <div class="custom-home-style">
    <p>Test of app-specific CSS.</p>
    <p>
    Welcome to Team HealthCheck! Our platform helps you easily track your team’s tasks and
    provide real-time feedback. Stay informed on task progress, evaluate
    performance, and ensure continuous improvement with clear, actionable
    insights.
  </p>

  
  <form method="POST" action="{% url 'dashboard' %}" class="select-form">
    {% csrf_token %}
    <div class="select-wrapper">
      <label for="team">Select Team:</label>
      <select class="team_select" name="team" id="team">
        <option value="">-- Select a Team --</option>
        {% for team in teams %}
          <option value="{{ team.team_name }}">{{ team.team_name }}</option>
        {% endfor %}
      </select>
      <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512" class="arrow">
        <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
      </svg>
    </div>

    <button type="submit">Submit</button>
  </form>

  </div>
{% endblock %}