{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Admin Profile{% endblock %}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static 'profiles/css/adminProfile.css' %}" />
    </head>
    <body>
        <header class="header">
            <img src="{% static 'profiles/images/sky-logo.webp' %}" alt="Sky Logo" />
            <nav>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Progress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-linkLO" href="#">Log out</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="container">
            <section class="user-details">
                <div class="user-details-header">
                    <img src="{% static 'profiles/images/placeholder.jpg' %}" alt="Profile Picture" class="placeholder" />
                    <h2>User Details</h2>
                </div>
                <form>
                    <div class="form-group inline">
                        <div class="form-group">
                            <label class="Fname" for="firstName">First name</label>
                            <input type="text" id="firstName" value="John" />
                        </div>
                        <div class="form-group">
                            <label class="Lname" for="lastName">Last name</label>
                            <input type="text" id="lastName" value="Smith" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" value="johnsmith@gmail.com" />
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" value="john123" />
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" value="smith456" />
                    </div>
                    <div class="form-actions">
                        <button type="button">Edit</button>
                        <button type="submit">Save Changes</button>
                    </div>
                </form>
            </section>
        </div>
    </body>
</html>
