{% extends 'base.html' %} 
{% load static %} 
{% block title %}Profile{% endblock %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}" />
{% endblock %}

{% block content %} {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="message">{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container">
    <section class="user-details">
        <div class="user-details-header">
            <img src="{% static 'profiles/images/placeholder.jpg' %}" alt="Profile Picture" class="placeholder" />
            <h2>User Details</h2>
        </div>

        <form method="POST">
            {% csrf_token %}

            <div class="form-group inline">
                <div class="form-group">
                    <label for="{{ form.first_name.id_for_label }}">First name</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    <label for="{{ form.last_name.id_for_label }}">Last name</label>
                    {{ form.last_name }}
                </div>
            </div>

            <div class="form-group">
                <label for="{{ form.email.id_for_label }}">Email</label>
                {{ form.email }}
            </div>

            <div class="form-group">
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
            </div>

            <div class="form-group">
                <label for="{{ form.password.id_for_label }}">New Password</label>
                {{ form.password }}
                <small class="form-text text-muted">Leave blank if you don't want to change it.</small>
            </div>

            
            <div class="form-group">
                <label for="role">Role</label>
                <input type="text" id="role" value="{{ user.profile.role }}" class="form-input" disabled />
                <p class="unchangeable">*Unchangeable</p>
            </div>

            <div class="form-actions">
                <button type="button" id="editButton">Edit</button>
                <button type="submit" id="saveButton">Save Changes</button>
            </div>
        </form>
    </section>
</div>

{% endblock %} {% block extra_js %}
<script src="{% static 'profiles/js/profile.js' %}"></script>
{% endblock %}