@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

:root[data-theme="light"] {
  --text: #061620;
  --background: #f4fafd;
  --primary: #319dd8;
  --secondary: #93a0ea;
  --accent: #575ade;
  --highlight: #8167a9;
  --highlight-rgb: 129, 103, 169;
}
:root[data-theme="dark"] {
  --text: #e1f0f9;
  --background: #02090d;
  --primary: #2793ce;
  --secondary: #15226a;
  --accent: #2123a6;
  --highlight: #9b89c1;
  --highlight-rgb: 155, 137, 193;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: var(--text);
  background: var(--background);
  overflow-x: hidden;
  transition: all 200ms linear;
  margin: 0px 0px 20px;
}

.main_content {
  margin: 0px 20px;
}

::selection {
  color: var(--text);
  background: var(--highlight);
}

.start-header {
  padding: 20px 0;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  transition: all 0.3s ease-out;
}
.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 10px 0;
}

.main_content {
  margin: 0px 20px;
  padding-top: calc(60px + 30px); /* Default navbar height + padding */
}

.start-header.scroll-on + .main_content {
  padding-top: calc(24px + 20px); /* Adjusted for scroll-on state */
}

.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: all 0.3s ease-out;
}

.navbar{
  margin-bottom: 10px;
}

.navbar-brand img {
  height: 28px;
  filter: brightness(10%);
  transition: all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img {
  height: 24px;
}

.nav-link {
  color: var(--text) !important;
  font-weight: 500;
  padding: 5px 0 !important;
  display: inline-block;
  transition: all 200ms linear;
}
.nav-item:hover .nav-link,
.nav-item.active .nav-link {
  color: var(--highlight) !important;
}
.nav-item {
  position: relative;
}
.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: "";
  background: var(--highlight);
  opacity: 0;
  transition: all 200ms linear;
}
.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}

.bg-light {
  transition: all 200ms linear;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: var(--text);
  text-align: center;
}

p {
  text-align: center;
  padding-top: 10px;
  transition: all 300ms linear 1000ms;
}
body.hero-anime p {
  opacity: 0;
  transform: translateY(40px);
  transition-delay: 1000ms;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.dropdown-menu {
  padding: 10px;
  font-size: 13px;
  color: var(--text);
  background: var(--background);
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
}
.dropdown-item {
  padding: 3px 15px;
  color: var(--text);
  transition: all 200ms linear;
}
.dropdown-item:hover,
.dropdown-item:focus {
  background: rgba(var(--highlight-rgb), 0.6);
}

#switch,
#circle {
  cursor: pointer;
  transition: all 300ms linear;
}

.theme-switch {
  margin-right: 90px;
  display: flex;
  align-content: center;
}

#switch {
  width: 60px;
  height: 8px;
  border: 2px solid var(--secondary);
  border-radius: 27px;
  background: var(--text);
  transition: all 300ms linear;
  display: flex;
  position: absolute;
  align-items: center;
}

#circle {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: var(--text);
}

.switched {
  border-color: var(--text) !important;
  background: var(--highlight) !important;
}
.switched #circle {
  left: 43px;
  box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
  background: var(--text);
}

.left-align {
  display: flex;
  justify-content: left;
}

.left-align > li,
.right-align {
  margin-right: 25px;
}

.right-align {
  display: flex;
  justify-content: right;
}

.navbar-nav,
ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.nav-item > a,
.dropdown-item {
  text-decoration: none;
}

.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: inline-block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}

@media (max-width: 767px) {
  h1 { font-size: 38px; }
  .nav-item:after { display: none; }
  .dropdown-menu {
    padding: 0;
    background: transparent;
    box-shadow: none;
  }
}