{% extends 'base.html' %}
{% load static %}
{% block title %}Department Leader Dashboard{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'department_senior/css/dashboards.css' %}" />
{% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard - Department Leader</title>
</head>
<body>
  <h1>Department Leader Dashboard</h1>
  <div class="dashboard-container">
  

    <!-- Main -->
    <main class="main-content">
      
    
      <title>Department Leader Dashboard</title>
  

      <!-- Top Section (Image Placeholder + Welcome) -->
      <section class="top-section">
        <div class="image-placeholder"><img src="{% static 'department_senior/images/dashboardimg.png' %}" alt="Dashboard" class="dashboard-image" /></div>
        <p class="welcome-text">
          Welcome to your dashboard area! This page allows you to see the department overview, team progress over time, and detailed team reports.
        </p>
      </section>

      <!-- Content Cards -->
      <section class="card-section">
        <a href="{% url 'overview_DL' %}" class="card-link">   <!--urls.py link to view overview-->
        <div class="card">
          <h3>Department Overview</h3>
        </a>
          <p>
            check the department overview!
          </p>
        </div>
     
         <!--adding url path made from urls.py to view the teamprogress for senior manager-->
        <div class="card">
          <a href="{% url 'teamprogress_DL' %}" class="card-link">
          <h3>Team Progress</h3>
        </a>
          <p>
            check the  progress of a team!
          </p>
        </div>
      
      </section>
    </main>
  </div>
</body>

</html>
{% endblock %}
