{% extends 'base.html' %}
{% load static %}
{% block title %}Senior ManagerLeader Overview{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'department_senior/css/overviews.css' %}" />
{% endblock %}
{% block content %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Department Overview</title>

</head>

<body>
  <h1>Senior Manager Overview</h1>
  <!-- Additional content goes here -->

  <div class="department-overview">
    Your Senior Manager Overview, gives you access to...
    <br />
    <br />
    <br />
    Allows the department manager to see all teams and departments in summary and their progress over time!
  </div>


  <div class="rectangle-57"></div>

  <form>
    {% csrf_token %}
    <div class="dropdown-row">
      <div class="dropdown-container">
        <select id="deparment" name="department">
          <option value="" disabled selected hidden>Select Department</option>
          <option value="department_leader"> Department 1</option>
          <option value="senior_manager">Department 2</option>
        </select>

      </div>




      <div class="dropdown-container">
        <select id="duration" name="duration">
          <option value="" disabled selected hidden>Select Duration</option>
          <option value="department_leader"> Duration 1</option>
          <option value="senior_manager"> Duration 2</option>
        </select>

      </div>
    </div>
  </form>
  <div class="department-overview1">DEPARTMENT OVERVIEW</div>

</body>

</html>
{% endblock %}