{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Department Leader Overview{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'department_senior/css/overviews.css' %}" />
{% endblock %}

{% block content %}
  <h1>Department Leader Overview</h1>

  <div class="rectangle-container">


     <!--overview content down here-->
    <body>
    <div class="department-overview">
    Your Department Leader Overview allows you to...
    <br />
    <br />
    <br />
    Allows the department manager to see all teams and departments in summaryor and their progress over time!
  </div>
    <div class="rectangle-57"></div>
  </div>


   <!--drop down content-->
<form>
    {% csrf_token %}
    <div class="dropdown-row">
      <div class="dropdown-container">
        <select id="deparment" name="department">
          <option value="" disabled selected hidden>Select Department</option>
          <option value="department_leader"> Department 1</option>
          <option value="senior_manager">Department 2</option>
        </select>

      </div>




      <div class="dropdown-container">
        <select id="duration" name="duration">
          <option value="" disabled selected hidden>Select Duration</option>
          <option value="department_leader"> 1 month</option>
          <option value="department_leader"> 6 months</option>
          <option value="department_leader">1 year</option>
        </select>

      </div>
    </div>
  </form>
  
  <div class="department-overview1">DEPARTMENT OVERVIEW</div>
</body>
  
{% endblock %}
